@page
@{
    ViewData["title"] = "Manoj";
}
@section Footer {
    <p>
        Hi I am Manoj. This is my first web application.
    </p>

}
<h3>
    Manoj
</h3>
<form>
    <input type="number" />
    <input type="number" />
    <input type="submit" />
    <output>output</output>
</form>
